<form action="/customer/create" method="post">
    <input type="text" placeholder="Name" name="name"><br>
    <input type="email" placeholder="Email" name="email"><br>
    <input type="text" placeholder="State" name="state"><br>
    <input type="submit" value="submit">
</form>